<p id="notice"><%= notice %></p>

<p>
  <b>To:</b>
  <%= @message.to.name %>
</p>

<p>
  <b>Date:</b>
  <%= @message.date %>
</p>

<p>
  <b>Subject:</b>
  <%= @message.subject %>
</p>

<p>
  <b>Content:</b>
  <%= @message.content %>
</p>

<%= link_to 'Back', sent_messages_path %>
