<div class="depot_form" >
	<% if session[:user_id] == nil %>
  <%= form_tag login_path do %>
      <div>
	  <table >
	<tr>
	<td><h7>Username</h7></td>
	<td> <%= text_field_tag :name, params[:name] %></td>
	</tr>
	<tr>
	<td><h7>Password</h7></td>
	<td><%= password_field_tag :password, params[:password] %></td>
	</tr>
	<tr>
	<td ALIGN=RIGHT> <%= link_to 'Register', new_user_path %> </td>

	<td ALIGN=RIGHT> <%= submit_tag "Login" %> </td>
	</tr>
	<tr ALIGN=RIGHT> <td><%= link_to 'Forgot Password', forgot_password_path %> </td></tr>
	
	</table>
  <% end %>
</div>
	<% else %>
	
	<div id="menuh-container">
		<div id="menuh">
		<ul>
			<li><a href="#" class="top_parent"><Item 1><%= session[:user_name] %></a>
			<ul>
				<li><%= link_to "Favorites", favorites_index_path , :method => :get %></li>
				<li><%= link_to "Outbox", sent_messages_path , :method => :get %></li>
				<li><%= link_to "Inbox", messages_path , :method => :get %></li>
				<li><%= link_to "Edit Account Information", edit_user_path(session[:user_id]) , :method => :get %></li>
				<li><%= link_to 'Logout', logout_path, :method => :delete %></a>
			</ul>
			</li>
		</ul>
		
		
		</div> 	<!-- end the menuh-container div -->  
	</div>	<!-- end the menuh div --> 
	<% end %>


