<h1> Series for this week
</h1><br />
<% if notice %>
  <p id="notice" ><%= notice %></p>
<% end %>

<div id = "calendar">
	
	<table>
	<tr>
		<td align="CENTER" style="background-color: #F0F0F0;">Monday <br />(<%= @date %>)</td>
		<td align="CENTER" style="background-color: #E0E0E0;"> <%if @today == (@date+1)%><b><%end%>Tuesday<%if @today == (@date+1)%></b><%end%> <br /> (<%= @date+1 %>) </td>	
		<td align="CENTER" style="background-color: #F0F0F0";>Wednesday<br /> (<%= @date+2 %>)</td>
		<td align="CENTER" style="background-color: #E0E0E0;">Thursday <br />(<%= @date+3 %>) </td>	
		<td align="CENTER" style="background-color: #F0F0F0";>Friday <br />(<%= @date+4 %>)</td>
		<td align="CENTER" style="background-color: #E0E0E0;">Saturday <br />(<%= @date+5 %>) </td>
		<td align="CENTER"style="background-color: #F0F0F0";>Sunday <br />(<%= @date+6 %>)</td>	
	</tr>
		<td valign="TOP" style="background-color: #F0F0F0;">
			<% @series_mon.each do |episode| %>
				<b><%= link_to episode.season.series.name, episode.season.series %></b> (S<%= episode.season.number %>E<%=episode.number%>)<br />
			    <%= episode.title %> <br />
			<% end %>
		</td>
		<td valign="TOP" style="background-color: #E0E0E0;">
			<% @series_tues.each do |episode| %>
				<b><%= link_to episode.season.series.name, episode.season.series %></b> (S<%= episode.season.number %>E<%=episode.number%>)<br />
			    <%= episode.title %> <br />
			<% end %>
		</td>
		<td valign="TOP" style="background-color: #F0F0F0;">
			<% @series_wed.each do |episode| %>
				<b><%= link_to episode.season.series.name, episode.season.series %></b> (S<%= episode.season.number %>E<%=episode.number%>)<br />
			    <%= episode.title %> <br />
			<% end %>
		</td>
		<td valign="TOP" style="background-color: #E0E0E0;">
			<% @series_thr.each do |episode| %>
				<b><%= link_to episode.season.series.name, episode.season.series %></b> (S<%= episode.season.number %>E<%=episode.number%>)<br />
			    <%= episode.title %> <br />
			<% end %>
		</td>
		<td valign="TOP" style="background-color: #F0F0F0;">
			<% @series_fri.each do |episode| %>
				<b><%= link_to episode.season.series.name, episode.season.series %></b> (S<%= episode.season.number %>E<%=episode.number%>)<br />
			    <%= episode.title %> <br />
			<% end %>
		</td>
		<td valign="TOP" style="background-color: #E0E0E0;">
			<% @series_sat.each do |episode| %>
				<b><%= link_to episode.season.series.name, episode.season.series %></b> (S<%= episode.season.number %>E<%=episode.number%>)<br />
			    <%= episode.title %> <br />
			<% end %>
		</td>
		<td valign="TOP" style="background-color: #F0F0F0;">
			<% @series_sun.each do |episode| %>
				<b><%= link_to episode.season.series.name, episode.season.series %></b> (S<%= episode.season.number %>E<%=episode.number%>)<br />
			    <%= episode.title %> <br />
			<% end %>
		</td>
	<tr>
	</table>
	
	
	
</div>
