<% @series = series if defined? series %>



<h1>Series</h1>



<% @series.each do |series| %>
  <!--tr>
    <td><%= series.name %></td>
    <td><%= series.country %></td>
    <td><%= link_to 'Show', series %></td>
    <td><%= link_to 'Edit', edit_series_path(series) %></td>
    <td><%= link_to 'Destroy', series, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr-->
  
  	<div id="post_series">
		
			<% if series.image_url %>
				<img src="<%= series.image_url %>" width="143" height="143" alt="" class="alignleft border" />			
			<%else%>
				<img src="http://www.nmh.ie/iopen24/images/content_images/other/warning.jpg" width="143" height="143" alt="" class="alignleft border" />
			<%end%>

			<div id ="descprip">
				<h3><%= link_to series.name, series %></h3>
				<p><b>#Seasons: </b> <%= series.seasons.count%></p>
				<p><b>Status:</b> <%= series.status%> </p>
			</div>
	</div>
<% end %>


<%= will_paginate @series, :params => {:keywords => params[:keywords] } %>



<br />

