<div style = float: left; position=relative;>
<p>
  <h2 id="series_name" data-seriesid=<%= @series.id %> ><%= @series.name %> (<%= @series.country %>) 
  	<% if session[:user_id] != nil  %>
  	 <% if @user.favorites.find_by_series_id(@series.id) %>
 	 	<%= link_to image_tag('star_delete.png'), favorites_destroy_path(:series_id => @series.id), :method => :post, :remote => true, :id => "unfavourite", "STYLE"=>"border-bottom-style: none; border-bottom-width: 0px;" %>
  	 <% else %>
 	 	<%= link_to image_tag('star_add2.png'), favorites_create_path(:series_id => @series.id), :method => :post, :remote => true, :id => "favourite", "STYLE"=>"border-bottom-style: none; border-bottom-width: 0px;"  %>
 	 <% end %>
  <% end %><h2>
</p>

<p>
  <b>Started:</b>
  <%= @series.start_date %>
</p>
<p><b>Status:</b> <%= @series.status %></p>
<p><b>Runtime: </b> <%= @series.runtime %></p>
</div>
<div id="serieimage">
<%if @series.image_url %>
<img src="<%= @series.image_url %>" alt="<%= @series.name %>" />
<%end%>
</div>
<h3>Seasons</h3>

<%= render :file => "seasons/index", :collection => @series %>


