<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @series.name %>
</p>

<p>
  <b>Country:</b>
  <%= @series.country %>
</p>

<h2>Seasons</h2>
<% @series.seasons.each do |season| %>
  <p>
    <%= season.commenter %> ~~~ <%= season.year %>
  </p>
<% end %>



<%= link_to 'New Season', new_series_season_path(@series) %>
<%= link_to 'Edit', edit_series_path(@series) %>
<%= link_to 'Back', series_index_path %>

